html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 10px;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    background-color:rgb(28,34,42);
    
}
@media screen and (max-width: 768px) {
    .wrapper{
        width: 80%;
    } 
} 

.slider{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 44vw 16vw;
    grid-template-rows: 42vw 6rem;
    max-width: 60vw;
    background-color:rgb(28,34,42) ;
    margin: 0 auto;
    overflow: hidden;
}  
    @media screen and (max-width: 768px) {
        .slider{
            display: flex;
            flex-direction: column;
            gap:0.5rem;
            max-width: 70vw;
        } 
    } 
   
.slider__album{
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    transition: 0.8s;
}

.image{
    display: block;
    width: 60vw;
    height: 42vw;
}
@media screen and (max-width: 768px) {
    .image{
        width: 70vw;
        height: 60vw;
        order: 0;
    } 
}

.slider__descriptions{
    display: flex;
    width: max-content;
    align-self: center;
    color: rgb(200, 200, 200); 
    font-size: calc(100% / 0.5);
    transition: 0.8s;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}
@media screen and (max-width: 768px) {
    .slider__descriptions{
        align-self: flex-start;
        white-space: pre-line;
        order: 2;
        
    } 
} 
.slider__note{
    margin-left: 2rem;
    width: 60vw;
    
}
@media screen and (max-width: 768px) {
    .slider__note{
        width: 70vw;
        margin-left: 0.5rem;
    } 
}
.btn_check{
    display: none;
}
.slider__radiobtns{
    display: inline-flex;
    justify-self: stretch;
    font-size: 0;
    z-index: 20;
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.like-btn{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 2rem;
    border: solid 0.2rem rgb(220, 220, 220);
    background-color:rgb(237,176,33);
    padding: 0.3rem;
    
}
.super-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}
.super-btn:active{
    transform: scale(0.9);
}
.super-btn:hover .like-btn{
    background-color:rgb(212, 167, 82); 
    
}
#s1:checked ~ .slider__radiobtns >*:nth-child(1) .like-btn{ background-color: rgb(130,91,1);}
#s2:checked ~ .slider__radiobtns >*:nth-child(2) .like-btn{ background-color: rgb(130,91,1);}
#s3:checked ~ .slider__radiobtns >*:nth-child(3) .like-btn{ background-color: rgb(130,91,1);}
#s4:checked ~ .slider__radiobtns >*:nth-child(4) .like-btn{ background-color: rgb(130,91,1);}
#s5:checked ~ .slider__radiobtns >*:nth-child(5) .like-btn{ background-color: rgb(130,91,1);}
#s6:checked ~ .slider__radiobtns >*:nth-child(6) .like-btn{ background-color: rgb(130,91,1);}

#s1:checked ~ .slider__album   {transform: translateX(0%);}
#s2:checked ~ .slider__album  {transform: translateX(-16.667%);}
#s3:checked ~ .slider__album  {transform: translateX(-33.333%);}
#s4:checked ~ .slider__album  {transform: translateX(-50%);}
#s5:checked ~ .slider__album  {transform: translateX(-66.667%);}
#s6:checked ~ .slider__album  {transform: translateX(-83.333%);}

#s1:checked ~ .slider__descriptions {transform: translateX(0%);}
#s2:checked ~ .slider__descriptions{transform: translateX(-16.667%);}
#s3:checked ~ .slider__descriptions{transform: translateX(-33.333%);}
#s4:checked ~ .slider__descriptions{transform: translateX(-50%);}
#s5:checked ~ .slider__descriptions{transform: translateX(-66.667%);}
#s6:checked ~ .slider__descriptions{transform: translateX(-83.333%);}